/*NUEVA FUENTE DE LETRA*/
*
{
	font-family: 'Gugi', cursive;
}


/*NUEVA FUENTE DE LETRA*/

/*Seccion del dashboard*/
.informacion_general
{
	margin-top: 100px;
}


/*Seccion del dashboard*/


/*SECCION DE VENTA DE CONTADO*/
ul.ui-autocomplete {
    z-index: 1100;
}

.input_venta{
width:100%; 
text-align:center;
border: 0;
}
/*SECCION DE VENTA DE CONTADO*/

