/*NUEVA FUENTE DE LETRA*/
*
{
	font-family: 'Gugi', cursive;
}


/*NUEVA FUENTE DE LETRA*/

/*Seccion del dashboard*/
.informacion_general
{
	margin-top: 100px;
}

ul.ui-autocomplete {
    z-index: 1100;
}

/*Seccion del dashboard*/


